.board {
	position: absolute;
	left: 50%;
	top: 20%;
    width: 416px;
    height: 416px;
	transform: translate(-50%);
	border: 4px solid black;
	overflow: hidden;
}

.board > div:nth-child(even) > div:nth-child(odd),
.board > div:nth-child(odd) > div:nth-child(even) {
	background: gray;
}
.board > div:nth-child(odd) > div:nth-child(odd),
.board > div:nth-child(even) > div:nth-child(even){
	background: lightyellow;
}

.board > div {
	display: block;
	width: 100%;
}
.board > div > div {
	float: left;
	width: 50px;
	height: 50px;
	border: 1px solid black;
	font-size: 11px;
}
.rows {
	display: none;
}

.board > div > div:before {
	display: block;
	font-size: 35px;
	line-height: 50px;
	vertical-align: middle;
	text-align: center;
}
.green {
	background: greenyellow!important;
}
.red {
	background: red!important;
}
.king-black:before {
	content: '\265A';
	cursor: pointer;
}
.queen-black:before {
	content: '\265B';
	cursor: pointer;
}
.rook-black:before {
	content: '\265C';
	cursor: pointer;
}
.bishop-black:before {
	content: '\265D';
	cursor: pointer;
}
.knight-black:before {
	content: '\265E';
	cursor: pointer;
}
.pawn-black:before {
	content: '\265F';
	cursor: pointer;
}
.king-white:before {
	content: '\2654';
	cursor: pointer;
}
.queen-white:before {
	content: '\2655';
	cursor: pointer;
}
.rook-white:before {
	content: '\2656';
	cursor: pointer;
}
.bishop-white:before {
	content: '\2657';
	cursor: pointer;
}
.knight-white:before {
	content: '\2658';
	cursor: pointer;
}
.pawn-white:before {
	content: '\2659';
	cursor: pointer;
}
.playerTurn {
	position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 10%;
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
    font-style: italic;
	color:gray;

}
.move-history{
	 position: fixed;
	 display: none;
    left: 50px;
    top: 20%;
}
.history {
    max-height: 380px;
	overflow-y: scroll;
	font-size: 17px;
	width: 100px;
	color:brown;
}
.kill {
	color:red;
}
.history span {
	display: block;
}
.number {
    position: absolute;
    width: 30px;
    height: 100%;
    /* background: red; */
    left: -34px;
    z-index: 12131231;
}


